#container{
  margin: 0 auto;
    width: 80%;
    background-color:#ffc1cb;

}
#nav{
  text-align:center;
  color:black;
  list-style-type: none;
}
#nav li{
  margin: 0;
  padding: 0;
  border:0px solid;
  text-decoration: none;
}

body{
  background-color:#f61ca2;
}

#header{
  text-align: center;
  font-size: 4.0em;
}

img{
  border-style: none;
  width: 200px;
}

.image{
  text-align: center;
}

h1{
  font-family: 'Lobster', cursive;
  background-color: #ffbe0f;
  width: 100%;
  margin: 0 auto;
}

p{
font-family: 'Quattrocento Sans', sans-serif;
}

#nav a:link, a:visited{
font-family: 'Sorts Mill Goudy', serif;
font-style: italic;
  color:#ffbe0f;
display: grid;
width: 25%;
margin: 0 auto;
    background-color:black;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
}

#nav a:hover, a:active{
  background-color:#5c0554;
}

#footer{
  color:black ;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  font-size: 1.0em;
  border-top-style: double: : 1px solid black;
  background-color:#ffbe0f;
}
