#container{
  margin: 0 auto;
    width: 90%;
    background-color:#ffc1cb;
}
.nav{
  text-align:left;
  color:black;
  list-style-type: none;
}
.nav li{
  text-align: left;
  padding: 0;
  text-decoration: none;
  list-style-type:none;
}

body{
  background-color:#f61ca2;
}

#header{
  text-align: center;
  font-size: 1.5em;
}

img{
  border-style: none;
  width: 200px;
  margin:0 auto;
  text-align: center;
}

.image{
  text-align: center;
}

h1{
  font-family: 'Lobster', cursive;
  background-color: #ffbe0f;
  width: 100%;
  margin: 0 auto;
}

p{
font-family: 'Quattrocento Sans', sans-serif;
}

.nav a:link, a:visited{
font-family: 'Sorts Mill Goudy', serif;
font-style: italic;
  color:#ffbe0f;
display: grid;
width:50%;
    background-color:black;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
      padding: 4px;
}

.nav a:hover, a:active{
  background-color:#5c0554;
}

#footer{
  color:black ;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  font-size: 1.0em;
  background-color:#ffbe0f;
}


.nav{
  display:flex;
  flex-direction: column;
}


@media (min-width: 600px) {
	.nav {
		flex-direction: row;
		align-items:flex-start;
    flex-wrap: wrap;

	}



.nav a:link, a:visited{
font-family: 'Sorts Mill Goudy', serif;
font-style: italic;
  color:#ffbe0f;
display: grid;
width:90%;
    background-color:black;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
  padding: 4px;
}

/*image {
    display: block;
}*/

@media screen and (min-width:600px) {
    img {
    float:left;
    margin-left:20px;
    }

    article{
      display:grid;
      grid-template-columns:200px 1fr 1fr;
    }

    @media screen and (min-width:1000px) {
      article {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
            " b a a a"
             "c c . e ";
      }

      .section1 {
        grid-area: a;
      }

      .image {
        grid-area: b;
      }

      .section2 {
        grid-area: c;
      }

      .section3{
        grid-area:d;
      }

      .picture2{
        grid-area:e;
      }


      /*.section1 p:first-of-type, .section2 p:first-of-type {
        margin-top: 0;
      }*/

    }























}
